.root {
    -fx-background-image: url("background.jpeg")
}
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
#SettingText{
    -fx-font-size: 30px;
    -fx-font-family: Arial;
    -fx-fill: rgb(85,87,83);
}
